$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$meineVariabel: #aaabbb;

.test {
  font: 100% $font-stack;
  background-color: $primary-color;
}

.superTest{
    color: $meineVariabel;
}
.phpStorm {
    background-color: #122b40;
}